* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  background-color: #8103a0d3;
  align-items: center;
}

body {
  height: 100%;
  background-color: #faf5fd;
  color: #000000b7;
}

h1 {
  color: aliceblue;
  padding: 10px 15px;
  width: 100%;
}

h3 {
  padding: 10px 15px 0;
}

svg {
  padding: 10px 20px;
  fill: aliceblue;
}

hr {
  border-top: solid 1px #eee;
}

a {
  font-weight: bold;
}

img {
  width: 100%;
}

.upper-content {
  width: 806px;
  margin: 0 auto;
  padding: 0 0 15px;
}
.source,
.output {
  width: 400px;
  display: inline-block;
  text-align: center;
}

.bottom-content {
  width: 500px;
  margin: 0 auto;
}

.selected-image {
  width: 200px;
  display: inline-block;
  text-align: center;
}

.res {
  width: 250px;
  display: inline-block;
  text-align: center;
  margin-left: 25px;
}

#face-canvas {
  width: 200px;
  float: left;
  padding: 10px 0;
}

.result-table {
  visibility: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover {
  background-color: #d4f0fd;
}

table th,
table td {
  text-align: center;
  width: 25%;
  padding: 8px 0;
}

.button {
  width: 100px;
  padding: 1px 0px;
}
